<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="inventory.Properties.Settings.SamuelConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Samuel;Persist Security Info=True;User ID=samuel_vc;Password=samuel_vc"
            providerName="System.Data.SqlClient" />
        <add name="inventory.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\vistas\Clientes\Database1.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="inventory.Properties.Settings.InventoryConnectionString"
            connectionString="Data Source=SAMUEL-VASQUEZ\SQL2008R2;Initial Catalog=Inventory;Persist Security Info=True;User ID=samuel_vc"
            providerName="System.Data.SqlClient" />
        <add name="inventory.Properties.Settings.Inventory" connectionString="Data Source=192.168.15.33;Initial Catalog=Inventory;Persist Security Info=True;User ID=samuel;Password=samuel"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>